<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.andrewbailey.encore.player">

    <application>
        <service
            android:name=".EncoreTestService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>
    </application>

</manifest>
