<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.andrewbailey.encore.player">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application>

        <receiver android:name="androidx.media.session.MediaButtonReceiver">
          <intent-filter>
            <action android:name="android.intent.action.MEDIA_BUTTON"/>
          </intent-filter>
        </receiver>

    </application>

</manifest>
