<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.andrewbailey.encore.player">

    <application>
        <!--
         We want the test service to be defined for testing purposes, but it MUST be declared in
         the library's AndroidManifest.xml file, NOT the test's AndroidManifest.xml file. By placing
         this in debug, we can ensure that the service is actually registered with the test context.
         If we had instead declared this service in the `androidTest` source set, the service would
         be associated with the tests themselves, not the package under test.
        -->
        <service
            android:name=".EncoreTestService"
            android:exported="false">
            <!--
             Media button interactions aren't tested. We don't include this intent filter since it
             causes ambiguity in debuggable builds of Jockey that break media buttons in
             notifications.
            -->
            <!--intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter-->
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>
    </application>

</manifest>
